@import "tailwindcss";

@theme {
  --font-primary: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-logo: "Satisfy", cursive;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-primary ;
  }
}
